* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#drr,
.mainImage,
.mainImage img {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainImage {
    overflow: hidden;
}

.dialogConatiner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogConatiner img {
    z-index: 3;
    position: relative;
}

.dialogConatiner p {
    width: 82%;
    height: 100%;
    font-size: 4.5vmin;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 4;
    background: rgba(125, 128, 132, 0.6);
    line-height: 13vmin;
    font-weight: bolder;
    color: black;
    text-shadow: 0 0 .4vmin #fffefe;
    flex-direction: column;
}

.dialogConatiner p a {
    color: black;
}

.gate {
    position: absolute;
    left: 21vw;
    top: -15%;
    width: 64% !important;
    transform: scale(.55);
    cursor: pointer;
}

.trans {
    transition: all, .5s;
}

.gate:hover {
    filter: drop-shadow(0 0 2vmin white);
}

.square {
    width: 25%;
    height: 100%;
    z-index: 2;
}